@charset "UTF-8";

@font-face {
    font-family: 'SpoqaT';
    src: local('※'), url('../fonts/Spoqa_Han_Sans_Thin.woff') format('woff'), url('../../../css/fonts/Spoqa_Han_Sans_Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SpoqaL';
    src: local('※'), url('../css/fonts/Spoqa_Han_Sans_Light.woff') format('woff'), url('../../../css/fonts/Spoqa_Han_Sans_Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SpoqaR';
    src: local('※'), url('../css/fonts/Spoqa_Han_Sans_Regular.woff') format('woff'), url('../../../css/fonts/Spoqa_Han_Sans_Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SpoqaB';
    src: local('※'), url('../css/fonts/Spoqa_Han_Sans_Bold.woff') format('woff'), url('../../../css/fonts/Spoqa_Han_Sans_Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


/* reset */
html, body {height: 100%; min-height: 100%; font-family:  "SpoqaR", "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif; font-size: 100%; line-height: 1.3; text-decoration: none; color: #222; vertical-align: middle; -webkit-font-smoothing: antialiased; background: #fff;}
body {-webkit-text-size-adjust: none;}

/*뷰표트 변환시 폰트크기 자동확대 방지*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {font-family:"SpoqaR", "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif; margin: 0; padding: 0; font-size: 14px; letter-spacing: -1px; font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased;}
address, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section {display: block; margin: 0; padding: 0;}
figcaption {display: block; width: 0; height: 0; position: absolute; top: -9999px; font-size: 0; text-indent: -9999px;}
hr, caption, legend {display: none; text-indent: -999px;}
h1, h2, h3, h4, h5, h6 {font-family: "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif; letter-spacing: -1px; word-break: break-all; white-space: normal;}
fieldset, img {border: none; vertical-align: middle;}
ol, ul, li, dl, dt, dd {font-family: "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif; list-style: none; word-break: break-all; white-space: normal;}
table, th, td {border: 0px; border-spacing: 0px; border-collapse: collapse; word-break: break-all; white-space: normal; font-family: "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif;}
table {width: 100%;}
fieldset, iframe {width: 100%; border: 0px;}
em, i, address, strong {font-style: normal; font-weight: normal; word-break: break-all; white-space: normal;}
button, a, select, input, label {border: none; background: none; font-family: "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial", sans-serif; letter-spacing: -1px; vertical-align: middle; word-break: break-all; white-space: normal;}
button::-moz-focus-inner {padding: 0px;}
a { -webkit-tap-highlight-color:transparent; text-decoration:none;}
.no_highlight {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.blind {position: absolute; top: -9999px; left: -9999px; visibility: hidden; width: 0; height: 0; overflow: hidden;}
.inp_blind {visibility: hidden;}
.ellipsis {white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden;}
.clearfix:after {content: '.'; display: block; clear: both; height: 0; line-height: 0; visibility: hidden;}
.hide {display: none;}
.po_static {position: static !important;}
.num_space {letter-spacing: 0 !important;}

input:focus,
select:focus,
button:focus,
textarea:focus {outline: none;}

label,button,a{-webkit-tap-highlight-color:rgba(0,0,0,0.04); cursor: pointer;}